DEBUG=False

ADMINS = (
    ('Oyvind Saltvik', 'oyvind.saltvik@gmail.com'),
)

STATIC_ROOT = '{{ item.static_root }}'
MEDIA_ROOT = '{{ item.media_root }}'

ALLOWED_HOSTS = {{ item.allowed_hosts|to_json }}

DATABASES = {
    {%+ for database, settings in item.databases.items() %}
    '{{ database }}': {
        {%+ if settings.backend == "django.db.backends.postgresql_psycopg2" %}
        'ENGINE': '{{ settings.backend }}', # django.db.backends.postgresql_psycopg2',
        'PASSWORD': '{{ settings.password|default((postgresql_users|selectattr('name', 'equalto', settings.username)|first)['pass']|default('')) }}',
        'PORT': {{ settings.port|default(5432) }},
        {%+ endif %}
        'NAME': '{{ settings.database }}',
        'USER': '{{ settings.username }}',
        'HOST': '{{ settings.hostname }}'
    }
    {%+ endfor %}
}

SECRET_KEY = '{{ django_secret_keys|selectattr('name', 'equalto', item.name)|first|attr('key')|default('unsafe') }}'

"""
SERVER_EMAIL = ''

EMAIL_PORT = 587
EMAIL_HOST = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
"""
randi.lian.berg