[uwsgi]
project = {{ item.project }}
uid = {{ item.user }}
base = {{ item.base|default('/home/%(uid)') }}

chdir = {{ item.chdir|default('%(base)/%(project)') }}
home = {{ item.virtualenv|default('%(base)/uwsgi_env') }}
module = {{ item.module|default('%(project).wsgi:application') }}

master = {{ item.master|default(false) and 'true' or 'false' }}
processes = {{ item.processes|default(1) }}
threads = {{ item.threads|default(1) }}

socket = {{ item.socket|default('/run/uwsgi/%(project).sock') }}
chown-socket = {{ item.chown_socket|default('%(uid):'+item.group) }}
chmod-socket = {{ item.chmod_socket|default(660) }}
vacuum = {{ item.vacuum|default(false) and 'true' or 'false' }}