django-cms
django-treebeard
psycopg2
djangocms-column
djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-link
aldryn-style
aldryn-bootstrap3
django-filer
cmsplugin-filer
djangocms-admin-style
djangocms-text-ckeditor
pytz
django-classy-tags
html5lib<0.99999999
Pillow
django-sekizai
six
django-post_office
django-smuggler
django-widget-tweaks
django-storages
boto
kombu
celery
django-celery
django-select2
