
ADMINS = (
    ('Oyvind Saltvik', 'oyvind.saltvik@gmail.com'),
)

STATIC_ROOT = '{{ django_static_root }}'
MEDIA_ROOT = '{{ django_media_root }}'

"""
SERVER_EMAIL = ''

EMAIL_PORT = 587
EMAIL_HOST = 'smtp.learnit24.no'
EMAIL_HOST_USER = 'learnit24@learnit24.no'
EMAIL_HOST_PASSWORD = '4Yxwb9x0'
"""